.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head{
  text-align: center;
  background-color: rgb(93, 187, 121);
}
h1{
  text-align: center;
}


/*TransctionForm CSS */
.horizontal-form {
  display: flex;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  margin-right: 40px;
  margin-top: 10px;
}

.horizontal-form {
  border-color: rgb(224, 35, 35);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px; 
}

#T-button {
  display: block; 
  margin-top: 10px; 
}


/* Search Bar CSS styling */
#search-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
  background-image: url('https://www.pinpng.com/pngs/m/10-102728_instagram-search-icon-vector-instagram-search-icon-png.png'); 
  background-position: right 10px center; 
  background-repeat: no-repeat;
  padding-right: 35px; 
  margin-bottom: 10px;
  background-size: 20px;
}

#search-bar:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0)
}

/* Transaction table CSS styling */
#mytable {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table header */
#mytable th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style for table data */
#mytable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Alternate row color */
#mytable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect on rows */
#mytable tbody tr:hover {
  background-color: #f2f2f2;
}